@tailwind base;
@tailwind components;
@tailwind utilities;

.addPopup{
    position: fixed;
    bottom: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:64px;
    height:64px;
    font-size: 28px;
    font-weight:900;
    cursor:pointer;
    background: blue;
    border-radius : 100%;
}